baseURL: "https://ucospo.net/"
languageCode: "en-us"
title: "UC OSPO Network"
theme: scientific-python-hugo-theme
relativeURLs: true
disableKinds: ["RSS", "taxonomy"]
ignoreErrors: ["error-disable-taxonomy"]

markup:
  highlight:
    noClasses: false
  goldmark:
    renderer:
      unsafe: true
    renderHooks:
      link:
        enableDefault: true

outputFormats:
  Atom:
    mediaType: "application/atom"
    baseName: "atom"
    isPlainText: false

mediaTypes:
  application/atom:
    suffixes:
      - xml

frontmatter:
  date: [":filename", ":default"]

permalinks:
  posts: "/:sections[1:]/:filename"

outputs:
  home: ["HTML", "ATOM"]
  term: ["HTML", "ATOM"]

params:
  author:
    name: "UC OSPO Network"
  description: "UC OSPO Network Website"
  font:
    name: "Open Sans"
    sizes: [400, 900]
  navbarlogo:
    image: logo.svg
    altText: UC OSPO Network logo
    text: UC OSPO Network
    link: /
  navbar:
    - title: About
      url: /about
    - title: Blog
      url: /posts
  footer:
    logo: uc-ospo-network-logo.svg
    socialmediatitle: ""
    socialmedia:
      - link: https://github.com/UC-OSPO-Network/
        icon: github
    quicklinks:
      column1:
        title: ""
