baseURL: "https://ucospo.net/"
languageCode: "en-us"
title: "UC OSPO Network"
theme: scientific-python-hugo-theme
relativeURLs: true
disableKinds: ["RSS", "taxonomy"]
ignoreErrors: ["error-disable-taxonomy"]

markup:
  highlight:
    noClasses: false
  goldmark:
    renderer:
      unsafe: true
    renderHooks:
      link:
        enableDefault: true

outputFormats:
  Atom:
    mediaType: "application/atom"
    baseName: "atom"
    isPlainText: false

mediaTypes:
  application/atom:
    suffixes:
      - xml

frontmatter:
  date: [":filename", ":default"]

permalinks:
  posts: "/:sections[1:]/:filename"

outputs:
  home: ["HTML", "ATOM"]
  term: ["HTML", "ATOM"]

params:
  author:
    name: "UC OSPO Network"
  description: "UC OSPO Network Website"
  font:
    name: "Open Sans"
    sizes: [400, 900]
  navbarlogo:
    image: logo.svg
    altText: UC OSPO Network logo
    text: UC OSPO Network
    link: /
  navbar:
    - title: About
      sublinks:
        - title: About the UC OSPO Network
          url: /about
        - title: Guiding Themes
          url: /guiding-themes
        - title: Network Services
          url: /about/services
    - title: Events
      url: /events
    - title: Blog
      url: /posts
    - title: Resources
      url: /oss-resources

  footer:
    logo: uc-ospo-network-logo.svg
    socialmediatitle: ""
    socialmedia:
      - link: https://github.com/UC-OSPO-Network/
        icon: github
      - link: https://ucospo.net/atom.xml
        icon: rss-feed
    quicklinks:
      column1:
        title: ""
        links:
          - text: Berkeley
            link: https://ospo-berkeley-edu.netlify.app
          - text: Davis
            link: /davis/
      column2:
        title: ""
        links:
          - text: Los Angeles
            link: /los-angeles/
          - text: San Diego
            link: https://datanexus.ucsd.edu/ospo/
      column3:
        title: ""
        links:
          - text: Santa Barbara
            link: /santa-barbara/
          - text: Santa Cruz
            link: https://ucsc-ospo.github.io/
